<ion-header>
  <ion-toolbar color="warning">
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title>My Pickup calls</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-pickup-call-card
    status="hold"
    updatedAt="10/09/2024 10:30:00"
    createdAt="10/09/2024"
    notes="Menerima Antar Jemput ke Madagascar"
  ></app-pickup-call-card>

  <app-pickup-call-card
    status="processing"
    updatedAt="11/09/2024 10:30:00"
    createdAt="10/09/2024"
    notes="Menerima Pesanan Rumah Joglo"
  ></app-pickup-call-card>

  <app-pickup-call-card
    status="finished"
    updatedAt="12/09/2024 10:30:00"
    createdAt="10/09/2024"
    value="selawe ewu"
  ></app-pickup-call-card>
</ion-content>
